#chartdiv {
	width	: 80%;
	height	: 400px;
	align-content: center;
	padding-left:50px;
	padding-top:250px;
	fill: rgb(5,5,5);
}
#chartdivThree {
	width: 80%;
height: 400px;
padding-top:250px;
padding-left:50px;

}
#chartdivFour {
  width: 80%;
  height: 500px;
	padding-top: 190px;

}
body{
	background-color: #9999af;
	overflow-y: scroll;
}

#chartdivTwo {
	width	: 80%;
	height: 500px;
	align-content: right;
	padding-left:50px;
	padding-top:5px;
	padding-bottom:150px;

}
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
	font-size: 0.3em;
}
.left {
  float: left;
}
.clear {
clear: both;
}

.buysblock {
  background: rgb(38,168,226);
}
.commentsblock {
  background: rgb(39,183,121);
}
.emailThreads {
	  background: rgb(244, 191, 66);
}
.candidateThreads{
	background: rgb(244, 104, 66);
}
.followUpThreads{
  background: rgb(65, 244, 134);
}
.userModelsBuilt{
background: rgb(193, 9, 67)
}
.refreshtokenStatus{
	background: rgb(217, 66, 244)
}
.metroblock {
  width: 7em;
  padding: 1em 1em 1em 1em;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
}

.metroblock h1, .metroblock h2, .metroblock .icon {
  font-weight: 30;
  margin: 0;
  padding: 0;
}
.metroblock h1, .metroblock .icon {
  font-size: 2em;
  text-align: center;
}
.metroblock .icon {
  margin-right: .2em;
}
#row{
	padding-left: 0px;
}
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 132px;
}
.content {
	    min-height: 3000;
}

.dropdown-text {
  cursor: pointer;
  position: absolute;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
  width: 100%;
}

.dropdown-text:after {
  position: absolute;
  right: 6px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #555 transparent transparent transparent;
}

.dropdown-text,
.dropdown-content a {
  color: #333;
  text-shadow: 0 1px #fff;
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility:hidden;
  border-radius: 3px;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 140px;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background: #e8e8e8;
}


.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: #e8e8e8;
}

.dropdown-toggle:focus ~ .dropdown-text {
  box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #555 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility:visible;
  top: 42px;
}
